@charset "UTF-8";

/*Todas as demais mídias*/

/* Typical Device breakpoints 
Pequenas telas: até 600px
Celular: 600 até 768px
Tablet: 768 até 992px
PC: 992px até 1200px
Grandes telas: acima de 1200px
*/

/*Impressão*/
@media print {

    * {
        font-family: 'Courier New', Courier, monospace;
    }

    main {
        border: 2px solid black;
    }

    main::after {
        content: 'Essa impressão foi feita por Matheus Augusto';
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    img {
        height: 15px;
    }

}

/*PC*/
@media screen and (min-width: 992px)/* and (max-width: 1200px) */{
    

    /*---------------------- Header ----------------------*/
    header {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: space-evenly;
    }

    #menu {
        display: block;
        width: 600px;
    }

    #toggle, .menu-hamburguer {
        display: none;
    }

    #menu > ul {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
    }

    #menu > ul li {
        display: inline-block;
    }

    #menu > ul li a {
        text-decoration: none;
        color: rgb(209, 198, 198);
        text-transform: uppercase;
        font-weight: bolder;
        transition: .3s ease-in-out;
    }

    #menu > ul li a:hover {
        color: white;
    }

    /*------------------------ Info ------------------------*/
    
    div.header-container > div.info {
        height: 650px;
    }
    
    div.header-container > div.info p {
        font-size: xx-large;
        
    }

    /*------------------------ Sections ------------------------*/

    section.conhecimentos {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        max-height: 50vh;
    }

    section.conhecimentos h1{
        position: absolute;
        top: 0;
    }

    section.conhecimentos div.back-end {
        height: 100%;
    }

    section.conhecimentos > div.back-end > img {
        margin-bottom: 50px;
    }

    section.conhecimentos div p {
        font-size: large;
        padding-bottom: 150px;
    }

    section.conhecimentos > div.front-end > .imagens img {
        height: 90px;
        padding-bottom: 20px;
    }

    section.conhecimentos > div.front-end > .imagens .css {
        width: 170px;
    }

    /*------------------------ Projetos ------------------------*/
    
    section.projetos > .projetos-container h2 {
        font-size: x-large;
        width: auto;
    }
    
    section.projetos > .projetos-container p {
        font-size: large;
    }

    #diagonal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 65px;
        height: 100%;
        background: transparent;
        border: 2px solid whitesmoke;
        border-top: 0;
        border-bottom: 0;
        -webkit-transform: skew(55deg); /* Chrome, Opera */
        transform: skew(55deg); /* Padrão */
    }

    #diagonal p {
        max-height: 20px;
        transform: rotate(85deg);
        font-size: large;
        font-weight: 500;
        padding: 3px;
    }

    /*------------------------ Sobre-mim ------------------------*/

       main > section.sobre-mim {
        max-height: 70vh;
    }

    main > section.sobre-mim p {
        font-size: large;
        max-width: 70%;
    }

      main > section.sobre-mim a {
        margin: auto;
    }

      main > section > div.texto {
        margin: 10px;
    }

    main .info-container {
        background-position: center;
        background-size: cover;
    }
    /*------------------------ Contato ------------------------*/

    .contato p {
        font-size: large;
    }

    .contato .email, .telefone {
        width: 500px;
    }
}

/*Grandes Telas*/
@media screen and (min-width: 1200px) {
 
    #diagonal p {
        max-height: 20px;
        transform: rotate(85deg);
        font-size: large;
        font-weight: 500;
        padding: 3px;
    }
}