@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,700;0,800;1,100;1,300;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html, body {
    overflow-x: hidden;
}

html {
    background-color: whitesmoke;
}

body {
    background-color: rgb(173, 165, 165);
    background-position: center;
    width: 100vw;
}

.transp {
    background-color: rgba(27, 29, 32, 0.836);
    transition: 1300ms ease-in-out 0s;
}

/*-------------------------------------------------- Header -----------------------------------------------*/

div.header-container {
    width: 100vw;
    height: 80vh;
    min-height: 715px;
}

header {
    background-color: rgba(27, 29, 32, 0.836);
    width: 100vw;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    z-index: 10;
}

header > h1.nome {
    margin-left: 30px;
    font-size: 1.5em;
    color: rgb(209, 198, 198);
}

/*------------------------------------------------- Menu Hambúrguer -----------------------------------------------*/



.menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 98vw;
    padding: 20px 10px;
    background-image: linear-gradient(to right, rgb(36, 35, 35), rgb(66, 65, 65));
    position: fixed;
    -webkit-animation: ida 0.5s;
}

@-webkit-keyframes ida {
    from { opacity: 0; margin-left: -150px;}
    to { opacity: 1; margin-right: 0px;}
}

@-webkit-keyframes volta {
    from { opacity: 1; margin-right: 0px;}
    to { opacity: 0; margin-left: -150px;}
}

.menu > ul {
    height: 50vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(209, 198, 198);
    font-size: x-large;
}

#toggle:checked + .menu-hamburguer .trace:nth-child(1) {
    transform: rotate(45deg);
    top: 47px;
}

#toggle:checked + .menu-hamburguer .trace:nth-child(2) {
    transform: translate(-100px);
    width: 30px;
    visibility: none;
    
    opacity: 0;
}

#toggle:checked + .menu-hamburguer .trace:nth-child(3) {
    transform: rotate(-45deg);
    top: 48px;
}

.burguer {
    display: none;
}

#menu {
    display: none;
}

.menu-hamburguer {
    height: 100px;
    width: 99px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}

.menu-hamburguer .trace {
    width: 50px;
    height: 2px;
    background-color: rgb(209, 198, 198);
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.menu-hamburguer .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}

.menu-hamburguer .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);
}

.menu-hamburguer .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
}

/*--------------------------------------------------- Informações ----------------------------------------------*/

div.header-container > div.info {
    width: 65vw;
    max-width: 400px;
    height: 550px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 30vh;
}

div.header-container > div.info p {
    font-size: x-large;
    font-weight: bold;
    color: rgb(49, 43, 43);
}

div.header-container > div.info p span {
    color: rgb(114, 17, 17);
}

div.header-container > div.info div.social-media {
    margin-top: 3rem;
}

div.header-container > div.info a {
    background-color: transparent;
    text-decoration: none;
    color: black;
    padding: 1rem 2rem;
    border: 1px solid black;
    min-width: 5rem;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease-in-out;
}

div.header-container > div.info a:hover {
    color: whitesmoke;
    background-color: rgba(27, 29, 32, 0.836);
}

/*--------------------------------------------- Conhecimentos -------------------------------------------*/

main {
    width: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main section {
    background-color: transparent;
    width: 90vw;
    max-width: 1000px;
    margin: 20px 0px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

main section h1 {
    display: block;
    background-color: rgba(245, 245, 245, 0.616);
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
}

main section.conhecimentos {
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../imagens/prog-teste.jpg);
    background-size: cover;
    height: 158vh;
}

main section.conhecimentos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    max-width: 80%;
}

main > section.conhecimentos > div.power-bi > img {
    height: 70px;
    border-radius: 100%;
    margin: 15px;
    margin-bottom: 30px;
}

main > section.conhecimentos p {
    height: 100px;
    width: 90%;
    display: block;
    color: whitesmoke;
    text-align: justify;
    font-size: small;
}

main > section.conhecimentos > div.etl > .imagens {
    flex-direction: row;
}

main > section.conhecimentos img {
    height: 50px;
    width: 70px;
}

/* ------------------------------- Projetos ------------------------------------------*/

main section.projetos {
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../imagens/prog1-teste.jpg);
    background-size: cover;
    background-position: top;
    height: 1300px;
}



main a {
    background-color: transparent;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    display: block;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 90px;
    padding: 5px 20px;
    transition: .3s ease-in-out;
}

main a:hover {
    background-color: green;
    border: 1px solid green;
    
}


section.projetos div.texto {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}

main section.projetos h2 {
    color: whitesmoke;
    font-size: smaller;
    text-align: center;
    width: 90%;
    margin: 5px;
}

main > section.projetos p {
    height: 140px;
    width: 90%;
    color: whitesmoke;
    text-align: justify;
    font-size: small;
    display: inline-block;
    margin: 5px 10px;
}


main section.projetos > div.projetos-container {
    height: 95%;
    min-height: 660px;
    width: 99%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main section.projetos > div.projetos-container .img {
    display: flex;
    height: 100%;
    width: 30%;
    border-radius: 20px 0px 0px 20px;
    border-right: 1px solid whitesmoke;
    background-size: cover;
}

main section.projetos > div.projetos-container div#projeto {
    width: 85%;
    height: 32%;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    transition: 300ms ease-in-out 0s;
}

main section.projetos > div.projetos-container div#projeto:hover {
    width: 90%;
    height: 31%;
    z-index: 8;
}

section.projetos #faixa {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#diagonal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 100%;
    border: 2px solid whitesmoke;
    border-top: 0;
    border-bottom: 0;
    background: transparent;
    -webkit-transform: skew(50deg); /* Chrome, Opera */
    transform: skew(50deg); /* Padrão */
}

#diagonal p {
    max-height: 20px;
    transform: rotate(85deg);
    font-size: large;
    font-weight: 500;
    padding: 3px;
}

/* ---------------------------- Projeto: Analise de Acidentes SP ------------------------------*/

div.chess-java .img {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../imagens/dash_acidentes.png);
    background-size: contain;
    background-position: center;
}

/* ---------------------------- Projeto: Base de dados Olist ------------------------------*/

.projeto2 > .img{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../imagens/print_sql.png);
    background-position: left;
}

/* ---------------------------- Projeto: 3 ------------------------------*/

.projeto3 > .img{
    background-image: url(../imagens/interrogacao.jpg);
    background-position: center;
}

/*------------------------------ Sobre Mim ------------------------------------------*/

main .info-container {
    height: 94%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../imagens/acoustic-guitar-background1.jpg);
    background-size: cover;
}

main section.info-sobre-mim h2 {
    color: whitesmoke;
    font-size: medium;
    text-align: center;
    width: 150px;
    margin: 5px;
    top: 0%;
}

main section.sobre-mim {
    height: 120vh;
    min-height: 690px;
}

section.sobre-mim > .info-container > .info-sobre-mim {
    width: 80%;
    height: 90%;
    border: 1px solid whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


main section.sobre-mim > div.info-container .img {
    display: flex;
    height: 220px;
    width: 220px;
    border-radius: 100%;
    border: 1px solid whitesmoke;
    background-size: cover;
    background-position: left center;
    background-image: url(../imagens/eu.jpeg);
    margin-top: 10px;
}


section.sobre-mim div.texto {
    display: flex;
    flex-direction: column;
    width: 85%;
    align-items: center;
    flex-grow: 1;
    justify-content: space-around;
}

main section.sobre-mim h2 {
    color: whitesmoke;
    font-size: medium;
    text-align: center;
    width: 150px;
    margin: 5px;
}

main > section.sobre-mim p {
    height: 100px;
    width: 90%;
    color: whitesmoke;
    text-align: justify;
    font-size: small;
    display: inline-block;
    margin: 15px 10px;
}

main > section.sobre-mim a {
    width: 90px;
    margin-top: 70%;
}

/*------------------------- Contato -----------------------------*/


main section.contato {
    height: 260px;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../imagens/contact-background-teste.jpg);
    background-position: right;
    background-size: cover;
}

.contato > .icon-container {
    height: 94%;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contato .email, .telefone {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.contato img {
    height: 40px;
    width: 40px;
}

.contato p {
    color: white;
    text-align: justify;
    font-size: small;
    width: 250px;
    margin-left: 12px;
}

main {
    margin-bottom: 100px;
}

/*--------------------- Footer ----------------------------*/
footer {
    height: 250px;
    background-color: rgba(27, 29, 32, 0.836);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: space-evenly;
}


footer h1, h2  {
    width: 90%;
    display: inline-block;
    color: whitesmoke;
    text-align: center;
}

footer h1 { 
    font-size: 1.5em;
    margin-top: 20px;
}

footer h2 {
    font-size: large;
    margin: 15px 0px 15px 0px;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0px 20px 0px;
    max-width: 500px;
}

footer ul li {
    display: inline-block;
    margin: 5px;
}

footer img {
    height: 40px;
    width: 40px;
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 0.2s linear;
}

footer img:hover {
    filter: none;
}

footer p {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    padding-bottom: 10px;
}

